# Locations Data Discovery

In [30]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/all_results.csv')

## Countries

In [31]:
non_empty_countries = df['country'].dropna()
non_empty_countries.groupby(non_empty_countries.values).count().sort_values(ascending=False)

Россия                           19027
Франция                            144
Беларусь                           111
Германия                            90
Украина                             89
Великобритания                      87
Нидерланды                          72
Китай                               70
Польша                              68
Гонконг                             67
Япония                              47
США                                 45
Казахстан                           40
Италия                              39
Испания                             33
Словения                            29
Швеция                              27
Хорватия                            22
Австрия                             22
Мексика                             21
Латвия                              18
Бразилия                            17
Эстония                             16
Турция                              15
Израиль                             14
Молдова                             14
Швейцария                           14
Бельгия                             13
Австралия                           13
Узбекистан                          13
                                 ...
Чили                                 2
Poland                               2
Таджикистан                          2
Spain                                2
United Kingdom                       2
Аргентина                            2
Belgium                              2
Малайзия                             2
Новая Зеландия                       1
Эфиопия                              1
Brazil                               1
Germany                              1
Greece                               1
Ямайка                               1
Italy                                1
Japan                                1
Колумбия                             1
Коста-Рика                           1
Norway                               1
Гватемала                            1
Армения                              1
Вьетнам                              1
Венесуэла                            1
ЮАР                                  1
Сирийская Арабская Республика        1
Мальта                               1
Кипр                                 1
Аландскиеострова                     1
Эквадор                              1
Остров Доминика                      1
Name: country, Length: 92, dtype: int64

## Cities summary

In [32]:
city_series = df['city'].dropna().drop_duplicates(keep='first')
city_series

0                 Москва
2                  Киров
4                Сен-Клу
5                   Киев
16       Санкт-Петербург
18             Хабаровск
22                Калуга
23       Нижний Новгород
24             Жуковский
25               Люберцы
27                 Минск
28            Чайковский
34                Кашира
36                Липецк
37               Королев
41         Сергиев Посад
53              Одинцово
55              Подольск
60               Саратов
62                 Париж
67                 Дубна
71                  None
72             Роттердам
75            Зеленоград
85                Мытищи
96             Ульяновск
99              Бронницы
104                Тверь
105               Ковров
108              Кубинка
              ...
19245         Вила-Велья
19254              Асино
19302             Кстово
19304            Луганск
19398               Слау
19417           Бристоль
19422            Ниигата
19456             Гаосюн
19466          Винчестер
19513        Нефтеюганск
19631            Пльзень
19644              Будва
19759           Куритиба
19815               Ньор
19832           Катовице
19850               Бери
19993          Монтеррей
19994         Краматорск
20019           Ковентри
20131               Роли
20142            Дербент
20184        Миннеаполис
20263             Фирзен
20326            Венеция
20332              Целле
20337        Алькобендас
20347             Берген
20389           Kumamoto
20401           Салоники
20472              Озеры
Name: city, Length: 818, dtype: object

## Number of words in city names

In [33]:
import re

def get_num_words(name):
    name_words = re.split(r'[\s-]+', name)
    return len(name_words)
    
city_words_count_series = pd.Series(city_series.map(get_num_words).values, city_series.values)
city_words_count_series.groupby(city_words_count_series.values).count()

1    727
2     75
3     13
4      3
dtype: int64

## Long city names

In [34]:
city_words_count_series[city_words_count_series > 2]

Ростов-на-Дону              3
Франкфурт-на-Майне          3
Санта-Колома-де-Граманет    4
Экс-ле-Бен                  3
Аньер-сюр-Сен               3
Рио-де-Жанейро              3
Welwyn Garden City          3
Монтиньи-ле-Бретонне        3
Миранда-де-Эбро             3
San Juan del Río            4
Комсомольск-на-Амуре        3
Биберах-на-Рисе             3
Оахака-де-Хуарес            3
Francavilla al Mare         3
Вила-Нова-де-Гайя           4
Нёйи-сюр-Сен                3
dtype: int64